@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Outfit:wght@200;400;700&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "inter", sans-serif;
  background-color: #ffffcc;
  background-image: url("./assests/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding-inline: 7rem;
  padding-top: 5vh;
  padding-bottom: 0;
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "outfit", sans-serif;
}
#header {
  display: flex;
  justify-content: space-between;
}
#logo-img {
  height: 6vh;
  width: auto;
  object-fit: cover;
}
footer {
  height: 60px;
  margin-top: 50px;
}
