@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: rgb(39, 39, 39);
}

.container {
  background-color: rgb(219, 219, 219);
  max-width: 1321px;
  margin: auto;
  margin-top: -8px;
}

.top-banner {
  background-color: #2c3347;
}

.logo {
  width: 150px;
  height: 50px;
  padding-bottom: 5px;
}

.navbar {
  display: flex;
  color: white;
}

.navbarbox {
  background-color: #445077;
  line-height: 0;
}

.navbar p {
  padding-left: 30px;
}

.margincenter {
  margin-left: 20px;
  margin-right: 20px;
}

.orangebanner {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 111, 59);
  color: rgb(247, 242, 201);
}

.giftguides {
  background-image: url("bg-image.png");
  object-fit: contain;
  height: 180px;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.giftguides h2 {
  padding-top: 60px;
  font-size: 1.7rem;
}

.perfecth {
  font-weight: bold;
  padding-right: 20px;
}

.shopnow {
  color: rgb(4, 109, 109);
}

.pic1,
.pic2,
.pic3,
.pic4 {
  height: 350px;
  width: 290px;
  object-fit: fill;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(134, 134, 134);
  margin-left: 21px;
  margin-top: 8px;
}

.perfectgiftimages {
  background-color: white;
  margin-bottom: 25px;
  padding-bottom: 18px;
}

.perfecttext {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: -10px;
}

.giftinggame {
  width: auto;
  height: 500px;
}

.pic9 {
  height: 500px;
  width: 1281px;
  object-fit: fill;
}

.giftingtext {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-right: 0px;
}

.gifttext {
  padding-right: 25px;
}

.soundofcheer {
  height: 500px;
  width: 1281px;
}

.pic10 {
  height: 500px;
  width: 1281px;
  object-fit: fill;
}

.logobottom {
  background-color: #2c3347;
  height: 150px;
  text-align: center;
}

.logoamazonbottom {
  width: 200px;
  height: 75px;
  padding-top: 40px;
}

.shopaudiotext {
  text-align: center;
  padding-right: 10px;
}

.soundoftext {
  margin-right: 20px;
}

.toplink {
  text-align: center;
  background-color: #445077;
  margin-top: 20px;
  padding: 10px;
  color: white;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}
