span {
  filter: brightness(90%);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(235, 232, 229);
}
.result-div h1 {
  margin-bottom: 0;
  font-size: 2.8rem;
}
.result-div p {
  margin-top: 0;
  font-size: 1.3rem;
  font-family: "outfit", sans-serif;
}
#bottom {
  display: flex;
  justify-content: center;
}
#btn {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 2.5px solid white;
  cursor: pointer;
  height: 52px;
  width: 12rem;
  font-family: "outfit", sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}

#flexcontent {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  margin: 0;
}
.fontWeight {
  font-weight: 500;
  font-size: 2.6rem;
}
.percentage {
  font-weight: bolder;
  font-size: 3rem;
  margin-top: -8px;
}
.white-Color {
  color: rgb(235, 232, 229);
}
.light-color {
  color: #dfd3e2;
}

/* CIRCLE PROGRESSBAR STYLES */

*,
*:before,
*:after {
  box-sizing: border-box;
}
.set-size {
  font-size: 15em; /* circle size */
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 2em, 2em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #00ffff;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  font-size: 0.06em;
  position: absolute;
  top: 2.5em;
  left: 0.4em;
  right: 0.4em;
  color: rgb(235, 232, 229);
  text-align: center;
}

.pass-content {
  color: #00ffff;
}
.lineHight {
  line-height: 25px;
}
.text-content {
  font-size: 10px;
  font-weight: 300;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #c2128d;
  border-radius: 50%;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
/* .pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
} */

.pie-wrapper.progress-75 .pie .left-side {
  /* -webkit-transform: rotate(270deg); */
  /* transform: rotate(270deg); */
  transform: rotate(270deg);
}
