body {
	margin: 0;
	width: 100%;

	* {
		padding: 10px 0;
	}
}

.banner {
	text-align: center;
	margin: auto;
	width: 100%;

	img {
		width: 250px;
	}
	p {
		padding: 10px 0;
		background-color: lightyellow;
		border-top: 1px solid orange;
		color: darkgreen;
	}
	span {
		font-weight: bold;
	}
	h1 {
		width: 500px;
		margin: auto;
	}
}

.content {
	width: 650px;
	margin: auto;
}
