@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Prompt", sans-serif;
}

#newTask {
  background-color: aqua;
  border-color: blue;
  font-weight: bold;
  font-size: 5rem;
  border-radius: 20px;
  border-width: 10px;
  border-color: blueviolet;
}

input[type="button"] {
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
  background-color: azure;
  margin: 10px;
}

input[type="color"] {
  padding: 15px;
  cursor: pointer;
}

ul {
  font-size: 3rem;
  color: black;
  list-style-type: none;
}

/* ul:hover {
  cursor: pointer;
} */

#myTaskList {
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.3rem;
  width: 30vh;
  margin: auto;
  text-align: center;
}

.liBackground {
  background-color: red;
}

li:hover {
  cursor: pointer;
}
