@font-face {
    font-family: "GothamMedium";
    src: URL("./fonts/GothamMedium.ttf") format("truetype");
}
html,
body {
    background-color: #1e1e1e;
    color: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

* {
    font-family: "GothamMedium";
}

body {
    display: flex;
    background: rgb(23, 23, 23);
    background: linear-gradient(
        180deg,
        rgba(23, 23, 23, 1) 0%,
        rgba(18, 18, 18, 1) 56%
    );
}

.sidebar {
    width: 17.5%;
    height: 100%;
    background-color: black;
    position: sticky;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4em;
    display: flex;

    justify-content: space-between;

    padding-left: 2em;
    padding-right: 2em;
}

nav .navigation-buttons {
    display: flex;
    align-items: center;
    height: 100%;
}

nav .navigation-buttons a {
    background-color: black;
    padding: 0.5em;
    border-radius: 50%;
    margin-right: 0.5em;
}

nav .user {
    display: flex;
    align-items: center;
    height: 100%;
}

nav .user img {
    height: 50%;
    margin-right: 0.5em;
    border-radius: 50%;
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: rgb(199, 199, 199);
}

a:hover {
    color: white;
}

.nav-item i {
    margin-right: 1em;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
}

.brand {
    font-size: 2em;
}
.library-icon {
    transform: scaleX(-1);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #616161;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}
@media only screen and (max-width: 768px) {
    aside {
        display: none;
    }
}
